.mat-ink-bar {
    height: 3px !important;
}
.mat-tab-label{
    text-transform: uppercase;
    font-size: 1rem !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.375rem #DDDDDD;
    background-color: #DDDDDD;
}

::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
    background-color: #DDDDDD;
}

::-webkit-scrollbar-thumb {
    background-color: #c2185b;
}
.mat-form-field-appearance-legacy .mat-input-element::placeholder {
    color: gray !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #c2185b !important;
}
.mat-form-field-appearance-legacy .mat-hint {
    color: #c2185b !important;
}

/* LOADER */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #c2185b;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #c2185b transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.overlay{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }

  .overlay-child{
    z-index: 99999;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /*success icon sweet-alert*/
  .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #c2185b !important;
}
